*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
}
.container{
    width: 320px;
    height: 420px;
    background: rgb(240, 226, 226);
    color:#0f0f0f;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding:  70px 30px;

}
label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
 input[type="text"],
 input[type="password"]{
    border: none;
    border-bottom: 1px solid #0141f1 ;
    background:  transparent;
    outline: none;
    height: 40px;
    color: #0c0c0c;
    font-weight: bold;
    font-size: 16px;
}
button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(247, 22, 6);
    color: black;
    font-size: 18px;
    padding: 8px 8px;
    
}
button[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: rgb(247, 22, 6);
    color: black;
    font-size: 18px;
    padding: 8px 8px;
   
}
